@import "tailwindcss";

:root {
  --background: #E8E0D2;
  --foreground: #3A2F2B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E8E0D2;
    --foreground: #5A4334;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 1000ms ease-out forwards;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Nunito, Arial, Helvetica, sans-serif;
}